<!--<div class="details-container" *ngIf="place">
    <h3 class="details-title">Details of Place ID: {{place.id}}</h3>
    <div class="details">
      <h4>Place ID : </h4>
      <p>{{place.id}}</p>
      <h4>Place Name : </h4>
      <p>{{place.name}}</p>
      <h4>Place Description : </h4>
      <p>{{place.description}}</p>
      <h4>Place Price : </h4>
      <p>{{place.price}}</p>
      <h4>Place Location : </h4>
      <p>{{place.location}}</p>
      <h4>Place OpenDays : </h4>
      <p>{{place.openDays}}</p>
      <h4>Place OpenHours : </h4>
      <p>{{place.openTime}}</p>
      <h4>Place Image : </h4>
      <img [src]="place.image" alt="place image" width="200" height="300">
    </div>
  </div>
-->